In [1]:
import pandas as pd
from scipy.spatial import distance_matrix

data = [[1, 2], [1, 4], [2, 4], [3,2], [3,5],[3,7],[4,5],[4,6]]
ctys = ['A', 'B', 'C','D','E','F','G','H']
df = pd.DataFrame(data, columns=['xcord', 'ycord'], index=ctys)


#Manhattan Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values,1), index=df.index, columns=df.index)

#Euclidean Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values), index=df.index, columns=df.index)

,A,B,C,D,E,F,G,H
A,0.000000,2.000000,2.236068,2.000000,3.605551,5.385165,4.242641,5.000000
B,2.000000,0.000000,1.000000,2.828427,2.236068,3.605551,3.162278,3.605551
C,2.236068,1.000000,0.000000,2.236068,1.414214,3.162278,2.236068,2.828427
D,2.000000,2.828427,2.236068,0.000000,3.000000,5.000000,3.162278,4.123106
E,3.605551,2.236068,1.414214,3.000000,0.000000,2.000000,1.000000,1.414214
F,5.385165,3.605551,3.162278,5.000000,2.000000,0.000000,2.236068,1.414214
G,4.242641,3.162278,2.236068,3.162278,1.000000,2.236068,0.000000,1.000000
H,5.000000,3.605551,2.828427,4.123106,1.414214,1.414214,1.000000,0.000000